@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Outfit:wght@100..900&display=swap');

:root {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;

    height: 100vh;
    font-family: "Outfit", sans-serif;
    background-color: #1b1b1b;
    perspective: 800px;
}

.mensaje {

    color: white;
    font-size: 2.8rem;

}

.credit-card {
    max-width: 475px;
    height: 27.5rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    background: linear-gradient(45deg, #8E0000 0%, #E63400 28%, #FF7400 55%, #FFE04A 100%);
    color: white;
    border-radius: 20px;
    position: relative;
    transform-style: preserve-3d;
    transition: 2.5s ease-out;
    cursor: pointer;


}

.delante,
.detras {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    padding: 1.6rem 2.5rem;

}

.delante {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.banco {
    text-align: right;
    font-size: 2.5rem;
    letter-spacing: -.5px;
}

.container-flex {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.datos {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.chip {
    display: inline-block;
    max-width: 5.8rem;

}

.numeracion {
    font-family: "Kode Mono", monospace;
}

.numeracion h1 {
    font-size: 3.5rem;
    letter-spacing: -.8px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: .8rem;
}

.numeracion h3 {
    font-size: 2.6rem;
    font-weight: 500;
    text-align: right;
}

.nombres {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nombres p {
    font-size: 2.2rem;
    letter-spacing: -.8px;
    font-weight: 400;
}

.nombres img {
    display: inline-block;
    max-width: 10rem;
}

/* PARTE TRASERA DE LA CARTA */

.detras {
    text-align: center;
    transform: rotateY(180deg);
}

.contacto {
    font-size: 1.4rem;
    font-weight: 550;
}

.area-negra {
    height: 5rem;
    background-color: black;
    width: calc(100% + 5rem);
    margin-left: -2.5rem;
    margin-right: -2.5rem;
}

.codigo {
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: white;
    height: 3.2rem;
    padding: .5rem .8rem;
    border: none;
}

.codigo p {
    font-size: 1.6rem;
    font-weight: 450;
    color: black;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-top: 8px;
}

.info h2 {
    font-size: 1.8rem;
    font-weight: 450;
    letter-spacing: -.2px;
}

.info h4 {
    font-size: 1.3rem;
    font-weight: 350;
    letter-spacing: -.2px;
}

.credit-card.activa {
    transform: rotateY(180deg);
}