@media (max-width: 30rem){

    :root{
        font-size: 56.25%;
    }
}

@media (max-width: 26.5rem){

    :root{
        font-size: 50%;
    }
}

@media (max-width: 23.5rem){

    :root{
        font-size: 43.75%;
    }
}